body {
  background-color: #FFEAEE;
}

#battleship-logo-favicon {
  filter: invert(35%) sepia(74%) saturate(5549%) hue-rotate(200deg) brightness(101%) contrast(100%);
}

#header {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  height: 17vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#battleship-logo {
  background-color: white;
  width: 5vw;
  height: 8vh;
  margin-left: 1%;
}

#menu {
  background-color: pink;
  width: 20vw;
  height: 15vh;
  display: flex;
  margin: 0;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#website-title {
  background-color: green;
  height: 10vh;
  width: 20vw;
  margin: 0;
  font-size: 4.72em;
}

#menu-button-container {
  display: flex;
  flex-flow: row nowrap;
  height: 5vh;
  width: 20vw;
}

#start-game {
  background-color: orange;
  height: 5vh;
  width: 20vw;
  margin: 0;
  font-size: 1.25em;
}

#reset-game {
  background-color: cyan;
  height: 5vh;
  width: 20vw;
  margin: 0;
  font-size: 1.25em;
}

#wins-tracker {
  background-color: purple;
  width: 5vw;
  height: 10vh;
  margin-right: 1%;
}

#main-document {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  width: 100vw;
  height: 83vh;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
}

#game-board {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 90vw;
  height: 70vh;
  background-color: aquamarine;
}

#player-one-container, #computer-container {
  width: 40vw;
  height: 60vh;
  background-color: chocolate;
}

#player-one-title, #computer-title {
  background-color: aquamarine;
  width: 40vw;
  height: 7vh;
  margin: 0;
  font-size: 3em;
  display: flex;
  align-items: center;
  color: azure;
}

#player-one-board, #computer-board {
  margin: 0;
  width: 40vw;
  height: 53vh;
  display: flex;
  flex-flow: row wrap;
}

.game-board-row{
  margin: 0;
  background-color: pink;
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.game-board-cell {
  display: flex;
  flex: 1 1 100%;
  border: 1px solid rgb(0,0,0, 0.4);
}

.game-board-cell:nth-child(1n) {
  border-left: none
}

.game-board-cell:nth-child(10n) {
  border-right: none;
}

#row-1 * {
  border-top: none;
}

#row-10 * {
  border-bottom: none;
}

/* STYLING FOR FREEZING BOARD BEFORE GAME HAS STARTED */
.game-board-hidden {
  display: none;
  visibility: hidden;
}

.computer-container-hidden {
  display: none;
  visibility: hidden;
}

/* boat selection styling */

#boat-container {
  width: 40vw;
  height: 60vh;
  background-color: #096B72;
}

#label-for-placing-boat {
  background-color: aquamarine;
  width: 40vw;
  height: 7vh;
  margin: 0;
  font-size: 3em;
  display: flex;
  align-items: center;
  color: azure;
}

#boat-selection-box {
  margin: 0;
  width: 40vw;
  height: 53vh;
}

.player-boat {
  background-color: black;
  cursor: move;
}

/* for drag and drop styling */
.player-boat.dragging {
  opacity: .5;
}

#axis-switch {
  width: 10vw;
  height: 5vh;
  font-size: 1em;
  border: 3px solid red;
}

.display-y-axis {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.display-x-axis {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.boat-drop-selected, .additional-boat-drop-selected {
  opacity: .5;
  background-color: black;
}

.boat-drop-active, .additional-boat-drop-active {
  opacity: .9;
}

.boat-has-been-placed {
  background-color: red;
  border: 3px solid yellow;
}

.carrier-player, .carrier-computer {
  background-color: rgb(88, 88, 134);
}

.battleship-player, .battleship-computer {
  background-color: rgb(177, 33, 182);
}

.cruiser-player, .cruiser-computer {
  background-color: rgb(169, 43, 43);
}

.submarine-player, .submarine-computer {
  background-color: rgb(246, 255, 0);
}

.destroyer-player, .destroyer-computer {
  background-color: rgb(229, 160, 40);
}

/* STYLING FOR AFTER ALL OF PLAYER ONE'S BOATS HAVE BEEN PLACED */
.player-one-boat-container-hidden {
  display: none;
  visibility: hidden;
}

.boat-hit {
  background-color: red;
}

.missed-shot {
  background-color: white;
}

.boat-sunk {
  background-color: black;
}